*,
*::after,
*::before{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(242, 255, 242);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    font-size: larger;
    font-weight: bold;
}

h3{
    color: darkblue
}

#index-card{
    background-color: rgb(84, 209, 199);
    max-width: 40rem;
    margin: 12px auto;
    text-align: center;
    padding: .5rem 3rem;
    border-radius: 6px;
}
.index-link{
    margin:.5em 0 1.5em 0;
}
.index-link a{
    background-color: rgb(58, 80, 78);
    padding: .3rem;
    color: rgb(122, 214, 206);
    text-decoration: none;
    border-radius: 6px;
}
.index-link a:hover{
    opacity: 0.5;
}

.home-button{
    margin: 10px 0 0 6px;
    display: inline-block;
}

